ul a {
	text-decoration: none;
	color: white;
}

#Header_logo {
	z-index: 100;
	position: absolute;
	overflow: visible;
	float: right;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Vac {
	background-color: #084B8A;
	color: white;
	display: block;	
}

.Con {
	background-color: #E6E6E6;
	color: #084B8A;
	display: block;	
}

.Vac:hover {
	background-color: #E6E6E6;
	color: #084B8A;
	display: block;
}

.Con:hover {
	background-color: #084B8A;
	color: white;
	display: block;	
}

.Top_header {
	width:1100px;
	margin: auto;
}

#Top_header {
	height: 50px;
	font-family: Arial;
	background-color: #E6E6E6;
	margin: 0px;
	padding: 0px;
`	float: right;
}

#Top_header ul{
	height: 50px;
	list-style-type: none;
	color: white;
	font-size: 25px;
}
#Top_header ul il{
	float: right;
}

#Bottom_header {
	height: 50px;
	font-family: Arial;
	background-color: #2E2E2E;
	margin: 0px;
	padding: 0px;
	font-size: 25px;
}
.Bottom_header{
	width:1100px;
	margin: auto;
}

#Bottom_header ul li{
	float: right;
	display: block;
	height: 50px;
}

#Bottom_header ul li ul li{
	display: none;
	z-index: 99;
 	margin: 0px;
	padding: 0px;
	height: auto;
	font-size: 20px;
}

#Bottom_header ul li a:hover {
 background-color: #084B8A;
 display: block;
}

#Bottom_header ul li:hover ul li {
 display: block;

}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	color: white;
	text-decoration: none;
}

ul li {
	
	width: 200px;
	
	line-height: 50px;
	background-color: #2E2E2E;
	text-align: center;
	
	float: right;
}

ul li ul li{
 display: none;
 line-height: ;
 z-index: 99;
 position: relative;
}

#footer {
	font-family: Arial;
	margin-top: 0px;
	letter-spacing: 2px;

	padding: 5px 0px 5px 0px;
	width:100%;
	background-color: #084B8A;
	color: white;

}

#container2{
	background-color: #BDBDBD;
	height: 200px;
	margin: auto;
}

#container3{
	background-color: white;
	height: 400px;
	margin: auto;
}

#container4{
	background-color: white;
	height: 400px;
	margin: auto;
}

#container5{
	background-color: #E6E6E6;
	height: 400px;
	margin: auto;
}