  * {
    margin:0;
    padding:0;
  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #group4 .parallax__layer--deep {
    background: rgb(60,90,120);
  }

#footer {
	font-family: Arial;
	font-size: 160%;
	padding-top: 2%; 
	margin-top: -5%;
	height: 10%;
	width:100%;
	background-color: rgb(100, 110, 160);
	color: white;
	border-radius: 30% 30% 0% 0%;
	position: static;
	bottom: 0;
	text-align: center;
}
}

#header {
  position: fixed;
  top: 0;
}

#Top1{
	background-color: rgb(100, 110, 160);
	height: 5%;
	margin: auto;
	color: #2E2E2E;
	border-radius: 20px 20px 0px 0px;
}

.Logo_White{						/* Layout  */
	margin-top: -70%;
	float: right;
	margin-left: 15%;
	z-index: 100;
}

.TopCont{						/* Layout  */
	z-index: 100;
	background-color: rgb(140, 140, 140);
	height: 10%;
	width : 100%
}

.Cont{						/* Layout  */
	float: left;
	margin: 6.66666%;
	z-index: 100;
	background-color: white;
	height: 70%;
	width : 20%
}

#container1{
	background-color: white;
	height: 95%;
	margin: auto;
	margin-top: -15%;
	border-radius: 30px 30px 0px 0px;
	width: 70%;
	overflow: show;
	position:relative;
	z-index: 100;
}

#container2{
	margin-top: 100%;
	background-color: #D8D8D8;
	height: 120%;
	margin: auto;
	color: #2E2E2E;
	text-align: center;
	border-radius: 60px 60px 0px 0px;
	overflow: show;
	padding: 3%;
	z-index: 10;
}

#container3{
	background-color: rgb(140, 140, 140);
	height: 50%;
	margin: auto;
	color: #2E2E2E;
	text-align: center;
	border-radius: 60px 60px 0px 0px;
	margin-top: -7%;
}

#container4{
	background-color: rgb(140, 140, 140);
	height: 100%;
	margin: auto;
	margin-bottom: 20%;
}

#container5{
	float: left;
	width: 95%;
	background-color: rgb(140, 140, 140);
	height: 100%;
}

#container6{
	float: right;
	width: 5%;
	background-color: rgb(100, 110, 160);
	height: 100%;
}

#container7{
	width: 100%;
	background-color: rgb(100, 110, 160);
	height: 10%;
}

#container8{
	width: 100%;
	background-color: rgb(100, 110, 160);
	height: 100%;
}

#container9{
	width: 100%;
	background-color: rgb(100, 110, 160);
	height: 15%;
}

#container10{
	width: 100%;
	background-color: rgb(140, 140, 140);
	height: 85%;
}

.sect{
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	/*opacity: 0.8;*/
}

.sectOne{
	Background-image: url(../images/1.jpg);
	height: calc(100%);
	background-size: cover;
}

.sectOne p {

}

.sectTwo{
	background-color: rgb(60,90,120);
	Background-image: url(../images/2.jpg);
	height: 100%;
}

.sectTwo p {

}

.sectThree{
	Background-image: url(../images/3.jpg);
}

.sectThree p {

}

html,body{
	height: 100%;
	margin: 0px;
	background-color: 	#D8D8D8;
}



